<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- Bootstrap JavaScript --> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C7607mNMQiu13Bg+V4i6ZqOG3X/E7qNICu60Q7d3d610006709015712/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    
    <!-- Plotly JavaScript--> 
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

    <nav>
    </nav>
    
    <div class="content">
        {% block content %}
            {% endblock %}
    </div>
    
    <footer>
    </footer>
</body>
</html>