{% extends "base_dashboard.html" %}

{% block maincontent %}

<div class="container">
    <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Start</th>
                    <th>Finish</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{ job.task }}</td>
                    <td>{{ job.start }}</td>
                    <td>{{ job.finish }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('dashboard.dashboard')}}">[Home]</a>

</div>

{% endblock %}