{% extends "base_dashboard.html" %}

{% block maincontent %}

<div class="container">
      <form action="{{ url_for('dashboard.update_profile_password') }}" method="POST">
        <h2>Update Password</h2>
        <div class="mb-3">
              <label for="password_profile" class="form-label">Password</label>
              <input type="password" class="form-control" id="password_profile" name="password_profile" placeholder="Password" value="{{ user.password_hash}}">
              <label for="confirm_password_profile" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="confirm_password_profile" name="confirm_password_profile" placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-primary">Update Password</button>
        </form>
</div>

{% endblock %}