{% extends "base_dashboard.html" %}

{% block maincontent %}

<div class="container">
  <img src="{{ profilePic }}" alt="Profile Picture" class="me-3 img-thumbnail rounded-circle" style="width: 100px; height: 100px;">
  
  <form action="{{ url_for('dashboard.update_profile_picture') }}" method="POST" enctype="multipart/form-data">
    <h2>Update Profile</h2>
    
    <div class="mb-3">
        <label for="username_profile" class="form-label">Username</label>
        <input type="text" class="form-control" id="username_profile" name="username_profile" placeholder="Username" value="{{ user.username}}" disabled>
        <label for="email_profile" class="form-label">E-mail</label>
        <input type="text" class="form-control" id="email_profile" name="email_profile" placeholder="Username" value="{{ user.email }}" disabled>
    </div>
    
    <div class="mb-3">
        <label for="profile_picture" class="form-label">Select Image</label>
        <input type="file" class="form-control" id="profile_picture" name="profile_picture" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Update Image</button>
  
  </form>
</div>

{% endblock %}