{% extends "base_dashboard.html" %}

{% block maincontent %}
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
        <h3 class="fs-2 text-body-emphasis">Anotações</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link">
            Call to action
        </a>
    </div>
    
    <div class="feature col">
      <h3 class="fs-2 text-body-emphasis">My Time</h3>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
        Call to action
      </a>
      
    </div>
    
    <div class="feature col">
      <h3 class="fs-2 text-body-emphasis">My Plot</h3>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="icon-link">
        Call to action
      </a>
    </div>

  </div>

  {% endblock %}